<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
 layout:decorate="~{layout/layout.html}" >

<head>
	<meta charset="ISO-8859-1">
	<title>Students Absence</title>
</head>

<body>
	<div class="col-lg-6 col-5 text-right" layout:fragment="new_filters">	
	</div>
	<!-- Page content -->
	<div class="row" layout:fragment="page-content">
		<div class="col">
		
			<div class="card">
				<!-- Card header -->
				
				<div class="card-header border-0"></div>
				<!-- Light table -->
				 	
				<div class="table-responsive">
		     
     				 <button type="button" class="btn btn-default specialbtn" id="AbsenceRegister">
     				 Send
     				 </button >
					<table class="table align-items-center table-flush">
						<thead class="thead-light">
							<tr>
								
								<th scope="col">Student </th>
								<th scope="col">Absent</th>
								<th scope="col">Remarks</th>
								

							</tr>
						</thead>
						<tbody class="list">
						<tr th:each="std:${students}">
						<td><span th:text="${std.firstName}"></span></td>
						<td>
							<label class="custom-toggle">
								  <input type="checkbox" th:value="${std.idPerson}" name="isAbsent">
								  <span class="custom-toggle-slider rounded-circle"  data-label-off="No" data-label-on="Yes"></span>
							</label>
						</td>
						<td><textarea class="form-control" th:data-idstudent="${std.idPerson}" name="remarque"></textarea></td>
						</tr>
						
					
							


						</tbody>
					</table>
				
				</div>
	      
				<!-- -->
			</div>
			
		</div>
	</div>

</body>

</html>