<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Classes</title>
</head>
<body>
	<div class="col-lg-6 col-5 text-right" layout:fragment="new_filters">
		<a href="#" class="btn btn-sm btn-neutral" data-toggle="modal"
			data-target="#add_class">New</a> 
			<a href="#"
			class="btn btn-sm btn-neutral">Filters</a>
	</div>

	<!-- Page content -->
	<div class="row" layout:fragment="page-content">
		<div class="col">
			<div class="card">
				<!-- Card header -->
				<div class="card-header border-0">
					
				</div>
				<!-- Light table -->
				<div class="table-responsive">
					<table class="table align-items-center table-flush">
						<thead class="thead-light">
							<tr>
								<th scope="col"><a
									th:href="'/classes/page/'+ ${currentPage}+'?sortField=grade&sortDir='+${reverseSortDir} ">

										<i class="fas"
										th:classappend="${sortDir} eq 'asc' ? fa-sort-up : fa-sort-down "></i>
										Grade
								</a></th>
								<th scope="col">Name</th>
								<th scope="col">Total Students</th>
								<th scope="col">Students List</th>
								<th scope="col">Teachers/Subjects</th>

							</tr>
						</thead>
						<tbody class="list">
							<tr th:each="classe:${classes}">

								<td th:text=${classe.grade}></td>
								<td th:text=${classe.classLabel}></td>
								<td th:text=${classe.students.size()}></td>

								<td><a th:href="@{/classes/{id}/studentsList (id = ${classe.idClasse})}"><i
										class="fas fa-users"></i></a></td>
								<td><a href="#"><i class="fas fa-chalkboard-teacher"></i></a></td>
							</tr>


						</tbody>
					</table>
				</div>
				<!-- Card footer -->
				<div class="card-footer py-4">
					<nav aria-label="...">
						<ul class="pagination justify-content-end mb-0">
							<li class="page-item "
								th:classappend="${currentPage} eq 1 ? disabled : enabled"><a
								class="page-link"
								th:href="@{/classes/page/{prevPage} +'?sortField='+${sortField}+'&sortDir='+${sortDir}  (prevPage=${currentPage - 1})}"
								tabindex="-1"> <i class="fas fa-angle-left"></i> <span
									class="sr-only">Previous</span>
							</a></li>
							<span th:each="i: ${#numbers.sequence(1,totalPages)}">
								<li class="page-item "
								th:classappend="${currentPage} eq ${i} ? active : ''"><a
									class="page-link"
									th:href="@{'/classes/page/' + ${i}} + '?sortField='+${sortField}+'&sortDir='+${sortDir}  ">[[${i}]]</a>
							</li>
							</span>



							<li class="page-item"
								th:classappend="${currentPage} ge ${totalPages} ? disabled : enabled">
								<a class="page-link"
								th:href="@{/classes/page/{prevPage} + '?sortField='+${sortField}+'&sortDir='+${sortDir}  (prevPage=${currentPage - 2})     }">
									<i class="fas fa-angle-right"></i> <span class="sr-only">Next</span>
							</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

</body>
</html>