
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Fonts -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
<!-- Icons -->
<link rel="stylesheet"
	th:href="@{../../../../assets/vendor/nucleo/css/nucleo.css}"
	type="text/css">
<link rel="stylesheet"
	th:href="@{../../../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css}"
	type="text/css">
<!-- Page plugins -->
<!-- Argon CSS -->
<link rel="stylesheet"
	th:href="@{../../../../assets/css/argon.css?v=1.2.0}" type="text/css">

</head>

<body>
 	
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

	<!-- Sidenav -->
	<nav
		class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white"
		id="sidenav-main" th:replace="layout/sidenav.html :: sidenav">
		<!-- sidenav will be replaced from the sidenav.html  -->
	</nav>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<nav
			class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom"
			th:replace="layout/topnav.html :: topnav">
			<!-- Top nav will be replaced from topnav.html -->
		</nav>
		<!-- Header -->
		<!-- Header -->
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">

							<nav aria-label="breadcrumb"
								class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item"><a href="#"><i
											class="fas fa-home"></i></a></li>
									<li class="breadcrumb-item"><a href="#">Dashboard</a></li>

									<li th:each="path : ${path}" class="breadcrumb-item active"
										aria-current="page"><a th:text="${path.key}"
										th:href="@{${path.value}}">--</a></li>


								</ol>
							</nav>
						</div>
						<div class="col-lg-6 col-5 text-right"
							layout:fragment="new_filters">
							<a href="#" class="btn btn-sm btn-neutral">New</a> <a href="#"
								class="btn btn-sm btn-neutral">Filters</a>
						</div>
					</div>
					<!-- Card stats -->
					<div class="row" layout:fragment="card-stats"></div>
				</div>
			</div>
		</div>
		<!-- Begin Page content -->
		<div class="container-fluid mt--6">
			<div layout:fragment="page-content"></div>
			<!-- Footer -->
			<footer class="footer pt-0"
				th:replace="/layout/footer.html :: footer">
				<!--  footer will be replaced from footer.html -->
			</footer>
		</div>
	</div>
	<!-- End page content -->
	<!-- Argon Scripts -->
	<!-- Core -->
	<script src="../../../../assets/vendor/jquery/dist/jquery.min.js"
		th:src="@{../../../../assets/vendor/jquery/dist/jquery.min.js}"></script>
   

	<script
		th:src="@{../../../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{../../../../assets/vendor/js-cookie/js.cookie.js}"></script>
	<script
		th:src="@{../../../../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js}"></script>
	<script
		th:src="@{../../../../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js}"></script>
	<!-- Optional JS -->
	<script
		th:src="@{../../../../assets/vendor/chart.js/dist/Chart.min.js}"></script>
	<script
		th:src="@{../../../../assets/vendor/chart.js/dist/Chart.extension.js}"></script>
	<!-- Argon JS -->
	<script th:src="@{../../../../assets/js/argon.js?v=1.2.0}"></script>
	<script th:src="@{/assets/js/main.js}" type="text/javascript"
		src="../../../../assets/js/main.js"></script>
	 <script th:src="@{/assets/js/tables.js}" type="text/javascript"
		src="../../../../assets/js/tables.js"></script>


	<!-- -Add Class modal -->
	<div th:replace="/layout/modals.html :: modals"></div>



</body>

</html>
