<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<nav
		class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white"
		id="sidenav-main" th:fragment="sidenav">
		<div class="scrollbar-inner">
			<!-- Brand -->
			<div class="sidenav-header  align-items-center">
				<a class="navbar-brand" href="javascript:void(0)"> <img
					th:src="@{../../../../assets/img/brand/logo.png}"
					 class="navbar-brand-img"
					alt="Logo Teck-up school">
				</a>
			</div>
			<div class="navbar-inner">
				<!-- Collapse -->
				<div class="collapse navbar-collapse" id="sidenav-collapse-main">
					<!-- Nav items -->
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active"
							th:href="@{/}"> <i
								class="ni ni-tv-2 text-primary"></i> <span class="nav-link-text">Dashboard</span>
						</a></li>

						<!-- Users -->
						<div class="btn-group dropright nav-item"  th:if="${#strings.contains(#authentication.principal.authorities,'ADMIN')}" >

							<button type="button" class="btn _btn  dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<i class="fas fa-users  text-orange"></i> <span
									class="nav-link-text">Users</span>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/list}">Students</a> <a
									class="dropdown-item" th:href="@{/teacherslist}">Teachers</a>
							</div>
						</div>
						<!-- Classes -->
						<div  th:if="${#strings.contains(#authentication.principal.authorities,'ADMIN')}">
						<li class="nav-item"><a class="nav-link" th:href="@{/classes/}" > <i
								class="ni ni-building text-primary"></i> <span
								class="nav-link-text">Classes</span>
						</a></li>
						
						</div>
						<!-- TimeTables -->
						<div >
						<li class="nav-item"><a class="nav-link" th:href="@{/emplois/}" >
						<i class="fas fa-calendar-alt text-default"></i> <span
								class="nav-link-text">TimeTables</span>
						</a></li>
						
						</div>


						<!-- Absences -->
						<div class="btn-group dropright nav-item" >

							<button class="btn _btn dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-calendar-times text-default"></i> <span
									class="nav-link-text">Absences</span>
							</button>
							<div class="dropdown-menu" >
								<a class="dropdown-item" th:href="@{/absences/}">Students</a> 
								<a	class="dropdown-item" href="#"  th:if="${#strings.contains(#authentication.principal.authorities,'ADMIN')}">Teachers</a>
							</div>
						</div>

						<!-- Subjects -->
						<div  th:if="${#strings.contains(#authentication.principal.authorities,'ADMIN')}">
						<li class="nav-item"><a class="nav-link" href="#" > <i
								class="ni ni-ruler-pencil text-info"></i> <span
								class="nav-link-text">Subjects</span>
						</a></li>
						</div>
						




						<!--Events  -->
						<li class="nav-item"><a class="nav-link" href="#" > <i
								class="fas fa-calendar-check text-pink"></i> <span
								class="nav-link-text">Events</span>
						</a></li>
						<!-- Launch -->
						<li class="nav-item"><a class="nav-link" href="#"> <i
								class="fas fa-utensils text-yellow"></i> <span
								class="nav-link-text">Lunch</span>
						</a></li>
					</ul>
					
				</div>
			</div>
		</div>
	</nav>



</body>
</html>